parameters:
    level: 0
    paths:
        - browse.php
        - upload.php
        - core
        - lib
        - src
    excludePaths:
        analyse:
            - lib/strftime.php
    tmpDir: /tmp/phpstan
